@keyframes run {
  0% {
    width: 0;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  &__bar {
    background-color: #1477d2;
    height: 3px;
    animation-name: run;
    animation-duration: 4s;
  }
}